@import url("https://fonts.googleapis.com/css?family=Petit+Formal+Script&display=swap");
.background * {
  font-family: "Petit Formal Script", cursive;
}
div h2 {
  text-transform: none;
}
button#card-button {
  padding-right: 1.7vw;
}
#squareContainer > button {
  margin-bottom: 2vh;
}
.loyaltyLabel {
  display: flex;
}
.hoursWrapper {
  flex-wrap: wrap;
}
.dycalendar-current-date {
  background: #a9a9a954;
  color: white !important;
}
button.backButton {
  border-color: #9c00f7;
  color: #9c00f7;
}
#calendar table td.unavailable {
  color: #a9a9a9;
}
#calendar table td.unavailable:hover {
  background: unset;
  color: #a9a9a9 !important;
  cursor: not-allowed !important;
}
span.unavailable {
  background: #a9a9a954 !important;
  color: white !important;
  cursor: not-allowed !important;
}
.noSpaceLeft {
  margin-left: -4px;
}
.title {
  margin-bottom: 2vh;
}
label {
  font-family: "Petit Formal Script", cursive;
}
div#background p {
  font-family: "Petit Formal Script", cursive;
}
div#background h2 {
  font-size: 1.57em;
  font-family: "Petit Formal Script", cursive;
  margin-top: revert;
}
div#background h3 {
  font-size: 1.17em;
  font-family: "Petit Formal Script", cursive;
}

div#background h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Petit Formal Script", cursive;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.buttonItemContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.buttonAdapt:hover {
  border: 1px solid rgba(255, 0, 208, 0.87);
}
.buttonsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 77%;
  max-width: 77%;
}
.buttonAdapt {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  font-family: classico-urw;
  font-weight: 500;
  font-style: normal;
  /* letter-spacing: 0.11em; */
  line-height: 1.1em;
  /* text-transform: uppercase; */

  padding-top: 1.8vh;
  padding-bottom: 1.8vh;
  padding-left: 1.7vw;
  padding-right: 1.7vw;
  margin-top: 2.8vh;
  font-family: "Petit Formal Script", cursive;
}
.buttonItem {
  margin: 0.5vh;
  font-size: 1rem;
}
.hour {
  color: rgb(255, 255, 255);
}
.hourContainer {
  color: black;
}
.textInput {
  margin: 5px;
  font-family: "Petit Formal Script", cursive;
  width: 100%;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}
.coverUp {
  position: absolute;
  background: #ececec7d;
  width: 100%;
  height: 100%;
  z-index: 9;
  align-items: center;
  justify-content: center;
  display: none;
}

.serviceTitle {
  font-size: 1.13rem;
  display: flex;
}
.activeStatus {
  color: rgba(255, 0, 208, 0.87);
  border-bottom: 1px solid;
}
.statusItem {
  margin-bottom: 2vh;
}
.content {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.navButtonContainer {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pink {
  background: #c76afc;
}
.dycalendar-month-container > .navButtonContainer {
  display: none;
}
.navButton {
  font-family: "Petit Formal Script", cursive;
}
.dycalendar-body {
  flex-direction: column;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .nameContainer {
    width: 45%;
  }
  .nameContainerLast {
    width: 45%;
  }
  [name="first"] {
    max-width: 100%;
  }
  [name="last"] {
    max-width: 90%;
  }
  .textInput {
    width: unset;
  }
  .nameContainer {
    max-width: 40%;
  }
  .nameContainerLast {
    max-width: 50%;
  }
  div#background h4 {
    font-weight: 400;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
  .label {
    display: none;
  }
  .buttonsContainer {
    width: 100%;
    flex-basis: unset;
    max-width: unset;
  }

  .buttonAdapt {
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 2vh;
    margin-right: 4px;
    padding-right: initial;
    padding-left: inital;
  }
  .buttonItem {
    font-size: 14px;
    font-weight: 400;
  }
  .serviceTitle {
    font-size: 14px;
  }
  .navButtonContainer {
    display: flex;
  }
  .dycalendar-month-container > .navButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -57px;
  }
  .navButtonContainer > .navButton {
    margin-top: 0;
    padding-right: 5px;
  }
  button.backButton {
    font-size: 12px;
    padding: 1.7vw;
  }
  #calendar table td:hover {
    background: #9c00f7;
    color: rgb(255, 255, 255) !important;
  }
  .loyaltyLabel {
    font-size: 3.4vw;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
