.label{
position: absolute;
}
.buttonAdapt{
    border: 1px solid rgba(255,0,208,.87);
    background-color: rgba(0,0,0,0);
    font-family: classico-urw;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .11em;
    line-height: 1.1em;
    text-transform: uppercase;
    color: rgba(255,0,208,.87);
}
.buttonItem{
    margin:1vh;
}
.hour{
    color: rgb(255, 255, 255);
}
.hourContainer{
color: black;
}
.textInput{
    margin:5px;
}