.title{
  margin-bottom: 1vh;
}
h2{
  font-size: 1.57em;
}
h3{
  font-size: 1.17em;
}

h4{
  margin-block-start: 0;
  margin-block-end: 0;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.buttonItemContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.buttonAdapt:hover {
  border: 1px solid rgba(255, 0, 208, 0.87);
}
.buttonsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 77%;
  max-width: 77%;
}
.buttonAdapt {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  font-family: classico-urw;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.11em;
  line-height: 1.1em;
  /* text-transform: uppercase; */

  padding-top: 1.8vh;
  padding-bottom: 1.8vh;
  padding-left: 1.7vw;
  padding-right: 1.7vw;
  margin-top: 2.8vh;
}
.buttonItem {
  margin: 1vh;
  font-size: 1rem;
}
.hour {
  color: rgb(255, 255, 255);
}
.hourContainer {
  color: black;
}
.textInput {
  margin: 5px;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}
.coverUp {
  position: absolute;
  background: #ececec7d;
  width: 100%;
  height: 100%;
  z-index: 9;
  align-items: center;
  justify-content: center;
  display: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.serviceTitle {
  font-size: 1.13rem;
}
.activeStatus {
  color: rgba(255, 0, 208, 0.87);
  border-bottom: 1px solid;
}
.statusItem {
  margin-bottom: 2vh;
}
.content {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.navButtonContainer {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navButton {
  font-family: poppins, sans-serif;
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  .label {
    display: none;
  }
  .buttonsContainer {
    width: 100%;
  }
  .serviceTitle {
    font-size: 1rem;
  }
}
